[
  {ps_bench,
    [{node_name, REPLACE_THIS_NODE_NAME},
    {device_definitions_directory, REPLACE_DEVICE_DEF_DIR},
    {deployment_definitions_directory, REPLACE_DEPLOYMENT_DEF_DIR},
    {scenario_definitions_directory, REPLACE_SCENARIO_DEF_DIR},
    {selected_scenario, REPLACE_SELECTED_SCENARIO_NAME}
  ]}
].
