[
  {ps_bench,
    [{node_name, runner5},
    {device_definitions_directory, "configs/builtin-test-suites/devices"},
    {deployment_definitions_directory, "configs/builtin-test-suites/deployments"},
    {scenario_definitions_directory, "configs/builtin-test-suites/testcases/scalability"},
    {selected_scenario, scalabilitysuite_smart_factory_dds_10x}
  ]}
].
