[
  {psmark,
    [{node_name, runner1},
    {device_definitions_directory, "configs/builtin-test-suites/devices"},
    {deployment_definitions_directory, "configs/builtin-test-suites/deployments"},
    {scenario_definitions_directory, "configs/builtin-test-suites/testcases/scalability"},
    {selected_scenario, scalabilitysuite_smart_home_mqttv5_2x}
  ]}
].
