[
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{config => #{file => "out/psbench.csv"}}
      }]
    }]
  },

  {ps_bench,
    [{node_name, runner1},
    {device_definitions_directory, "configs/builtin-test-suites/devices"},
    {deployment_definitions_directory, "configs/builtin-test-suites/deployments"},
    {scenario_definitions_directory, "configs/builtin-test-suites/testcases"},
    {selected_scenario, test_scenario}
  ]}
].
